@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<<<<<<< HEAD
<<<<<<< HEAD

<!--it'll show the title of the table-->
@{
    ViewData["Title"] = "Departments";
}
=======
>>>>>>> 44fc04c9f338df2b74800cb9597a2b7068ade73c
=======
>>>>>>> e3789e6ace9ab11a19b7d47e80b46bae6b3e7efc
<!--return the list from the controller in a table-->
<!--strong type view meaning we specified the model type-->
@model List<Department>

<table class="table table-bordered table-hover">
    <tr>
        <th>Department Name</th>
       <th>Manager Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ManagerName</td>
<<<<<<< HEAD
<<<<<<< HEAD

            <td><a href="/Dept/detail/@item.Id">Deatil</a></td>
=======
>>>>>>> 44fc04c9f338df2b74800cb9597a2b7068ade73c
=======
>>>>>>> e3789e6ace9ab11a19b7d47e80b46bae6b3e7efc
        </tr>
    }
</table>

