@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Course

<h>Add new course</h>

<!--action-> go to course controller->SaveCrs action method-->

<form method="post" action="/Course/SaveCrs">

    <div class="form-group">

        <label for="Name"> Name:</label>
        <!--this name attr have to match whats in the domain model and controller property-->
        <input type="text" class="form-control" name="Name">
    </div>
    <div class="form-group">
        <label for="Degree">Degree:</label>
        <input type="text" class="form-control" name="Degree">
    </div>
    <div class="form-group">
        <label for="Minimum Degree">Minimum Degree:</label>
        <input type="text" class="form-control" name="MinDegree">
    </div>
    <select  name="dept_Id">

    @foreach(var item in ViewBag.Depts){
       
        <option value="@item.Id">@item.Name</option> 
    }
    </select>

  
    <input type="submit" class="btn btn-default" value="Add Course">

</form>